a.nav-link {
  font-family: "DM Mono", monospace;
  color: #65C5D4;
}

a.nav-link:hover {
  color: #65C5D4;
}

a {
  color: #65C5D4;
  text-decoration: none;
}

a:hover {
  color: #374449;
  text-decoration: none;
}

a:active {
  color: #374449;
  text-decoration: none;
}

.fit-cover {
  object-fit: cover;
}

.project-tech-list {
  font-family: "DM Mono";
  font-size: small;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin: 25px 0px 10px;
  padding: 0px;
  list-style: none;
}

.mb-4 {
  text-align: left;
  color: #374449;
  font-family: "DM Sans";
}

.p {
  color: rgba(255, 255, 255, 0.5);
  font-family: "DM Sans";
}

.p {
  font-family: "DM Sans";
}

/* Style the tab */
.tab {
  float: left;
  width: 30%;
  height: 200%;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  display: block;
  background-color: inherit;
  font-family: "DM Mono";
  font-size: small;
  color: #374449;
  padding: 9px 25px;
  width: 80%;
  border: none;
  border-left: 1px solid #374449;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #F9F9F9;
  color: #65C5D4;
  border-left: 1px solid #65C5D4;
}

/* Create an active/current "tab button" class */
.tab button.active {
  color: #65C5D4;
  border-left: 1px solid #65C5D4;
}

/* Style the tab content */
.tabcontent {
  padding: 0px 12px;
  border-left: none;
  height: 200%;
}

.fa {
  color: #73cdf3;
  padding: 15px;
  font-size: 2em;
}

.fa:hover {
  color: #374449;
  padding: 15px;
  font-size: 2em;
}

.fa:active {
  color: #374449;
  padding: 15px;
  font-size: 1.5em;
}

body{
  background-color: #F9F9F9;
  color: #374449;
}

/* Popup container */
.popup {
  position: relative;

  display: inline-block;
  cursor: pointer;
}


/* The actual popup (appears below) */
.popup .popuptext {
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index:1;
  left: 50%;
  margin-left: -80px;
  top: 125%;
}



/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.columnsintro-home {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: -30px;
}
.columnintro-home1 {
  margin-right: -40px;
  margin-left: 100px;
  width: 40%;
}

.columnintro-home {
width: 50%;
}

.landingportfolioshot {
  width: 370px;
  margin-right: 300px;
}
